box {
   background-color:  #EFEFEF;  
   padding: 10px;                                              /* Padding between button and panel edge. */
   color: #222222;                                             /* Text color for everything. */
   text-shadow: 0 1px black;                                   /* Adds a black outline on the font*/
   border: 0px solid;                                          /* Width of border. */
   border-radius: 50px;                                        /* How rounded the corners are. */
   transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Color transition around the border. */
   border-top-color: #2481B7;                                  /* Border colors. */
   border-right-color: #2481B7;                                /* Border colors. */
   border-left-color: #2481B7;                                 /* Border colors. */
   border-bottom-color: #227AAD;                               /* Border colors. */
}

button box {
   background-color:   #0C322C;
   color: #EFEFEF;
   padding: 1px;
}

button:hover box {
   background-color:   #FE7C3F;
}

button:active box {
   background-color:   #90EBCD;
transition-duration: 50ms;
}

button {
   background-color:   #0C322C; 
   padding: 2px;
   border: 2px solid;
   font: 10px "Liberation Sans";                               /* Changes font size and type in boxes only. Place line above for whole box. */
   font-weight: Bold;                                          /* Bold*/
   text-shadow: 0 1px black;                                   /* Adds a black outline on the font*/
   color: #EFEFEF;                                             /* Doesn't work if box color is activated */
   border-radius: 8px;
   transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
   border-top-color: #30BA78;
   border-right-color: #30BA78;
   border-left-color: #30BA78;
   border-bottom-color: #30BA78;
   box-shadow: inset 0 1px #1B98BD;                            /* Button highlight color*/
}

button:hover {
   background-color: #FE7C3F;
   color: #95E7F0;
   box-shadow: inset 0 1px #77DEFC;                            /* Button highlight color hovered*/
   -gtk-icon-effect: highlight; 
}

button:active,                                                 /* Pressed button color*/
  button:checked {
  background-color:    #90EBCD;
  transition-duration: 50ms; 
}
