####################################################################################################
# Name:         Easy3DLauncher for Linux - Configuration (Linux)                                   #
# Description:  This file determines the functions to be executed on Linux.                        #
# Author:       Steve Zabka                                                                        #
# Author URI:   https://cryinkfly.com                                                              #
# License:      MIT                                                                                #
# Copyright (c) 2022                                                                               #
# Time/Date:    10:00/27.03.2022                                                                   #
# Version:      0.0.1                                                                              #
####################################################################################################

# Path: /$HOME/.config/Easy3DLauncher/bin/shortcuts.config

####################################################################################################

# Button 1
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 2
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 3
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 4
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 5
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 6
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 7
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 8
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 9
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 10
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 11
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 12
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"
