####################################################################################################
# Name:         Easy3DLauncher for Linux - Autodesk Fusion 360 Configuration (Linux)               #
# Description:  This file determines the functions to be executed on Linux.                        #
# Author:       Steve Zabka                                                                        #
# Author URI:   https://cryinkfly.com                                                              #
# License:      MIT                                                                                #
# Copyright (c) 2022                                                                               #
# Time/Date:    11:30/16.04.2022                                                                   #
# Version:      0.0.2                                                                              #
####################################################################################################

# Path: /$HOME/.config/Easy3DLauncher/profiles/fusion360-shortcuts.config

####################################################################################################

# Button 1
Appearance
With this function you can choose the look and material of a model.
sleep 3s && xdotool getactivewindow && xdotool key "a"

# Button 2
Measure 
With this function you can measure a model, for example.
sleep 3s && xdotool getactivewindow && xdotool key "i"

# Button 3
Scripts and Add-ins
With this function you can modify or launch some functions.
sleep 3s && xdotool getactivewindow && xdotool key "shift+s"

# Button 4
Display 4 viewports
With this function you can change the viewport of your workspace.
sleep 3s && xdotool getactivewindow && xdotool key "shift+1"

# Button 5
Full-Screen-Mode
With this function you change into the Full-Screen-Mode.
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+shift+f"

# Button 6
Toolbox
With this function you get a overview of some functions.
sleep 3s && xdotool getactivewindow && xdotool key "s"

# Button 7
Reset (Layout)
With this function you can reset your view settings.
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+alt+r"

# Button 8
Paint Selection
sleep 3s && xdotool getactivewindow && xdotool key "q"

# Button 9
Extrude
With this function you can create or modify your model.
sleep 3s && xdotool getactivewindow && xdotool key "e"

# Button 10
Hole
With this function you can create a hole into your model.
sleep 3s && xdotool getactivewindow && xdotool key "h"

# Button 11
Move
With this function you can move or modify your model.
sleep 3s && xdotool getactivewindow && xdotool key "m"

# Button 12
New Sketch
With this function you can create a new sketch.
sleep 3s && xdotool getactivewindow && xdotool key "p"
