####################################################################################################
# Name:         Easy3DLauncher for Linux - Autodesk Fusion 360 Configuration (Linux)               #
# Description:  This file determines the functions to be executed on Linux.                        #
# Author:       Steve Zabka                                                                        #
# Author URI:   https://cryinkfly.com                                                              #
# License:      MIT                                                                                #
# Copyright (c) 2022                                                                               #
# Time/Date:    20:45/01.04.2022                                                                   #
# Version:      0.0.1                                                                              #
####################################################################################################

# Path: /$HOME/.config/Easy3DLauncher/bin/fusion360-shortcuts.config

####################################################################################################

# Button 1
Appearance
sleep 3s && xdotool getactivewindow && xdotool key "a"

# Button 2
Measure 
sleep 3s && xdotool getactivewindow && xdotool key "i"

# Button 3
Scripts and Add-ins
sleep 3s && xdotool getactivewindow && xdotool key "shift+s"

# Button 4
Display 4 viewports
sleep 3s && xdotool getactivewindow && xdotool key "shift+1"

# Button 5
Full-Screen-Mode
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+shift+f"

# Button 6
Toolbox
sleep 3s && xdotool getactivewindow && xdotool key "s"

# Button 7
Reset (Layout)
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+alt+r"

# Button 8
Paint Selection
sleep 3s && xdotool getactivewindow && xdotool key "q"

# Button 9
Extrude
sleep 3s && xdotool getactivewindow && xdotool key "e"

# Button 10
Hole
sleep 3s && xdotool getactivewindow && xdotool key "h"

# Button 11
Move
sleep 3s && xdotool getactivewindow && xdotool key "m"

# Button 12
New Sketch
sleep 3s && xdotool getactivewindow && xdotool key "p"
