####################################################################################################
# Name:         Easy3DLauncher for Linux - Workspace Configuration (Linux)                         #
# Description:  This file determines the functions to be executed on Linux.                        #
# Author:       Steve Zabka                                                                        #
# Author URI:   https://cryinkfly.com                                                              #
# License:      MIT                                                                                #
# Copyright (c) 2022                                                                               #
# Time/Date:    09:30/06.04.2022                                                                   #
# Version:      0.0.2                                                                              #
####################################################################################################

# Path: /$HOME/.config/Easy3DLauncher/profiles/profile.config

####################################################################################################

# Current Workspace:
Workspace=1

####################################################################################################

# Workspace=NUM
# Software ...
# Path to configuration file ...

Workspace=1
Autodesk Fusion 360
/$HOME/.config/Easy3DLauncher/bin/fusion360-shortcuts.config

Workspace=2
FreeCAD
/$HOME/.config/Easy3DLauncher/bin/freecad-shortcuts.config
