####################################################################################################
# Name:         Easy3DLauncher for Linux - Workspace Configuration (Linux)                         #
# Description:  This file determines the functions to be executed on Linux.                        #
# Author:       Steve Zabka                                                                        #
# Author URI:   https://cryinkfly.com                                                              #
# License:      MIT                                                                                #
# Copyright (c) 2022                                                                               #
# Time/Date:    10:00/16.04.2022                                                                   #
# Version:      0.0.3                                                                              #
####################################################################################################

# Path: /$HOME/.config/Easy3DLauncher/profiles/profile.config

####################################################################################################

# Current Workspace:
Workspace=0

####################################################################################################

# Workspace=NUM
# Software ...
# Path to configuration file ...

Workspace=0
Template
../profiles/default-shortcuts.config

Workspace=1
Autodesk Fusion 360
../profiles/fusion360-shortcuts.config

Workspace=2
FreeCAD
../profiles/freecad-shortcuts.config
