####################################################################################################
# Name:         Easy3DLauncher for Linux - Template Configuration (Linux)                          #
# Description:  This file determines the functions to be executed on Linux.                        #
# Author:       Steve Zabka                                                                        #
# Author URI:   https://cryinkfly.com                                                              #
# License:      MIT                                                                                #
# Copyright (c) 2022                                                                               #
# Time/Date:    20:45/01.04.2022                                                                   #
# Version:      0.0.2                                                                              #
####################################################################################################

# Path: /$HOME/.config/Easy3DLauncher/bin/template-shortcuts.config

####################################################################################################

# Button 1
NAME OF YOUR FUNCTION
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 2
NAME OF YOUR FUNCTION
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 3
NAME OF YOUR FUNCTION
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 4
NAME OF YOUR FUNCTION
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 5
NAME OF YOUR FUNCTION
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 6
NAME OF YOUR FUNCTION
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 7
NAME OF YOUR FUNCTION
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 8
NAME OF YOUR FUNCTION
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 9
NAME OF YOUR FUNCTION
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 10
NAME OF YOUR FUNCTION
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 11
NAME OF YOUR FUNCTION
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"

# Button 12
NAME OF YOUR FUNCTION
sleep 3s && xdotool getactivewindow && xdotool key "ctrl+t"
