####################################################################################################
# Name:         Easy3DLauncher for Linux - Workspace Configuration (Linux)                          #
# Description:  This file determines the functions to be executed on Linux.                        #
# Author:       Steve Zabka                                                                        #
# Author URI:   https://cryinkfly.com                                                              #
# License:      MIT                                                                                #
# Copyright (c) 2022                                                                               #
# Time/Date:    19:30/04.04.2022                                                                   #
# Version:      0.0.1                                                                              #
####################################################################################################

# Path: /$HOME/.config/Easy3DLauncher/bin/workspace.config

####################################################################################################

# Software ...
# Path to configuration file ...

Autodesk Fusion 360
/$HOME/.config/Easy3DLauncher/bin/fusion360-shortcuts.config

FreeCAD
/$HOME/.config/Easy3DLauncher/bin/freecad-shortcuts.config
